body {
	margin: 50px 100px 70px 500px;
	height: auto;
	background: pink;
}

.whole-can {
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-name: pour;
	max-width: 80vw;
	min-width: auto;
}

@keyframes pour {
	0% {
		transform: rotate3d(0, 0, 15, 45deg);
	}
}

@media (max-width: 375px) {
	.whole-can {
		padding: 175px 0 0 0;
		margin: auto 0;
		transform: scale(50%);
	}
	@keyframes pour {
		0% {
			transform: scale(40%);
		}
	}
}
@media (max-width: 812px) {
	.whole-can {
		padding-top: 275px;
		margin: auto 0;
		transform: scale(30%);
	}
}

@media (max-width: 375px) {
	.whole-can {
		padding-top: 375px;
		margin: auto 0;
		transform: scale(30%);
	}
	@keyframes pour {
		0% {
			transform: scale(40%);
		}
	}
}

/* top of the can */
.lid {
	position: absolute;
	background-color: #ff6347;
	height: 120px;
	width: 410px;
	margin: 12px 0 0 5px;
	border-radius: 50%;
	border-style: 10px double black;
	z-index: 10;
	animation-name: colors-1;
	animation-duration: 10s;
	animation-delay: 0s;
	animation-iteration-count: 2;
}

@keyframes colors-1 {
	from {
		background-color: #ff6347;
	}
	to {
		background-color: #4169e1;
	}
}

.lid-ring-1 {
	position: absolute;
	height: 110px;
	width: 390px;
	border-radius: 50%;
	margin: -5px 0;
	border: 10px double black;
	border-style: double groove;
	z-index: inherit;
}

.lid-ring-2 {
	top: 0;
	height: 100px;
	width: 350px;
	margin: 5px 5px 0 20px;
	border-radius: 50%;
	border: 15px solid black;
	border-style: solid none none double;
	z-index: inherit;
}

.lid-ring-3 {
	top: 0;
	height: 84px;
	width: 310px;
	margin: -105px 0 0 40px;
	border-radius: 50%;
	border: 10px solid black;
	border-style: double solid groove double;
	z-index: inherit;
}

.lid-ring-4 {
	top: 0;
	height: 40px;
	width: 160px;
	margin: -80px 80px 0px 110px;
	border-radius: 50%;
	border: 10px solid black;
	border-style: solid double ridge double;
	z-index: inherit;
}

.label-ring-top {
	position: absolute;
	height: 100px;
	width: 400px;
	margin-top: -28px;
	margin-left: 0px;
	border-radius: 50%;
	border: 15px solid #c564a9;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	z-index: 10;
}

.can-top-1 {
	position: absolute;
	background-color: #fdf5e6;
	width: 400px;
	height: 300px;
	margin: 77px 0px 0px 8px;
	border: 3px solid black;
	animation-name: colors-2;
	animation-duration: 10s;
	animation-delay: 2s;
	animation-iteration-count: 2;
}

@keyframes colors-2 {
	from {
		background-color: #fdf5e6;
	}
	to {
		background-color: #ecbb5c;
	}
}

.can-top-text {
	position: absolute;
	height: auto;
	width: 100%;
	z-index: 10;
}
.text-campbells {
	margin: 80px auto 50px auto;
	text-align: center;
	font-size: 80px;
	font-family: "Marck Script", cursive;
	color: #b4a6dc;
	text-shadow: 2px 5px black;
}

.text-condensed {
	margin: -40px auto auto auto;
	text-align: center;
	font-size: 30px;
	color: #b4a6dc;
	font-family: "Overpass Mono", monospace;
	text-shadow: 1px 0px gray;
}

.can-top-2 {
	background-color: #fdf5e6;
	position: absolute;
	height: 95px;
	width: 400px;
	margin: 303px 0px 0px 11px;
	border-radius: 50%;
	z-index: 2;
	animation-name: colors-2;
	animation-duration: 10s;
	animation-delay: 2s;
	animation-iteration-count: 2;
}
.can-logo-wrapper {
	position: absolute;
	height: auto;
	width: 100%;
}

.can-logo {
	position: absolute;
	height: 120px;
	width: 120px;
	border-radius: 150px;
	background-color: #c564a9;
	z-index: 15;
	margin: 30px auto auto 150px;
}

.can-icon {
	height: 80px;
	width: 80px;
	margin-left: 20px;
	margin-top: 20px;
}
/* bottom of the can */
.can-bottom-1 {
	position: absolute;
	background-color: #49a5ad;
	width: 400px;
	height: 310px;
	margin: 350px 0px 0px 8px;
	border: 3px solid black;
	border-style: none solid none solid;
	z-index: 1;
	animation-name: colors-3;
	animation-duration: 12s;
	animation-delay: 3s;
	animation-iteration-count: 2;
}

.can-bottom-text {
	position: absolute;
	height: auto;
	width: 100%;
	z-index: 6;
}

.text-tomato {
	color: #ecbb5c;
	font-size: 60px;
	font-family: sans-serif;
	text-shadow: 1px 0px gray;
	margin: 105px auto 0 auto;
	text-align: center;
}

.text-soup {
	color: black;
	font-size: 60px;
	margin: -10px auto 0 auto;
	text-align: center;
	font-family: "Bungee Shade", cursive;
	text-shadow: 6px 2px 0px #b4a6dc;
}

.text-asteriks-wrapper {
	position: absolute;
	height: auto;
	width: 100%;
}

#asteriks-1 {
	position: absolute;
	color: #c564a9;
	font-size: 40px;
	margin: 227px auto 50px 0;
	text-align: center;
	z-index: 8;
	transform: rotate(20deg);
}
#asteriks-2 {
	position: absolute;
	color: #c564a9;
	font-size: 40px;
	margin: 247px auto 50px 85px;
	text-align: center;
	z-index: 8;
	transform: rotate(10deg);
}

#asteriks-3 {
	position: absolute;
	color: #c564a9;
	font-size: 40px;
	margin: 253px auto 50px 145px;
	text-align: center;
	z-index: 8;
}

#asteriks-4 {
	position: absolute;
	color: #c564a9;
	font-size: 40px;
	margin: 253px auto 50px 145px;
	text-align: center;
	z-index: 8;
}

#asteriks-5 {
	position: absolute;
	color: #c564a9;
	font-size: 40px;
	margin: 253px auto 50px 205px;
	text-align: center;
	z-index: 8;
}

#asteriks-6 {
	position: absolute;
	color: #c564a9;
	font-size: 40px;
	margin: 247px auto 50px 263px;
	text-align: center;
	z-index: 8;
	transform: rotate(355deg);
}

#asteriks-7 {
	position: absolute;
	color: #c564a9;
	font-size: 40px;
	margin: 230px auto 50px 320px;
	text-align: center;
	z-index: 8;
	transform: rotate(340deg);
}

.label-ring-bottom-1 {
	position: absolute;
	height: 95px;
	width: 402px;
	margin: 200px 0 0 -1px;
	border-radius: 50%;
	border: 16px #ecbb5c;
	border-style: none none solid none;
	z-index: 8;
}

.label-ring-bottom-2 {
	position: absolute;
	height: 85px;
	width: 402px;
	margin: 257px 0 0 -1px;
	border-radius: 50%;
	border: 7px #ecbb5c;
	border-style: none none solid none;
	z-index: 8;
}

.can-bottom-2 {
	background-color: #49a5ad;
	position: absolute;
	height: 85px;
	width: 406px;
	margin: 600px 0 0 8px;
	border-radius: 50%;
	border: 25px black;
	border-style: none none solid none;
	z-index: -1;
	animation-name: colors-3;
	animation-duration: 12s;
	animation-delay: 3s;
	animation-iteration-count: 2;
	box-shadow: 2px 15px 15px #ffb6c1;
}

@keyframes colors-3 {
	from {
		background-color: #49a5ad;
	}
	to {
		background-color: #fdf5e6;
	}
}

.quote {
	position: relative;
	font-family: "Comforter", cursive;
	font-size: 2.5vw;
	height: auto;
	width: 55vw;
	max-width: 85%;
	margin: auto;
	padding: 20px 30px;
	border-radius: 20px;
}

@media (max-width: 375px) {
	.quote {
		position: absolute;
		margin: auto;
		padding: 0 20px 0 30px;
		max-height: 200px;
		width: 50vw;
		box-shadow: none;
		font-size: 20px;
		text-shadow: 2px 1px lightpink;
	}
}

@media (max-width: 812px) {
	.quote {
		margin: auto;
		padding: 0 20px 0 30px;
		max-height: 260px;
		width: 50vw;
		box-shadow: none;
		font-size: 4vw;
		text-shadow: 2px 1px lightpink;
	}
}
